
# Place in /etc/systemd/system
# Maybe it should be in /lib/systemd on Ubuntu but we can worry about that some other time.
  
[Unit]
Description=Smooth Criminal Web Server
After=network.target
StartLimitIntervalSec=30

[Service]
Type=simple
Restart=always
RestartSec=3
User=mrmike
WorkingDirectory=/home/mrmike/apps/smoothcriminal
ExecStart=/home/mrmike/apps/smoothcriminal/bin/smoothcriminal

[Install]
WantedBy=multi-user.target
