
<div class="job-container mt-3">
  <div class="progress mb-2" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: 0%"></div>
  </div>

  <div class="messages">
  </div>
</div>
